body {
    animation: changeColor 5s linear infinite; /* 5s é a duração da animação, você pode ajustá-la */
    height: 100vh;
  }
  
  @keyframes changeColor {
    0% {
      background-color: rgb(255, 0, 0); /* Cor inicial: vermelho */
    }
    50% {
      background-color: rgb(0, 0, 255); /* Cor intermediária: azul */
    }
    100% {
      background-color: rgb(255, 0, 0); /* Cor final: vermelho novamente */
    }
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:1024PX; top:0px;}
    50%  { left:1024PX; top:620PX;}
    75%  { left:0px; top:620px;}
    100% { left:0px; top:0px;}
  }

  .gabas {
    animation: example 5s linear infinite;
    position: relative;
    font-size: 100px;
  }

  .title{
    font-size: 124px;
    padding: 5px;
  }